/*Universal*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
header,.one,.two,.three,.four,footer {
  border: 1px solid darkblue;
}
h1,h2,h4 {font-family: 'Fjalla One', sans-serif;}
h3,h5,p {font-family: 'Fira Sans', sans-serif;}
/*Header*/
header{
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  background-color: hsl(222, 48%, 48%);
}
header .logo {
  display: inline-flex;
}
header .logo img {
  margin-left: 1.5rem;
}
header .logo #word {
  color: hsl(0, 0%, 0%);
}

header nav ul {
  display: inline-flex;
  flex-direction: row;
  margin-right: 1.5rem;

}
header nav ul li {
  padding-right: 1rem;
}
header nav ul li a {
  color: hsl(0, 0%, 100%);
}
header nav ul li a:hover {
  font-weight: bold;
}
.mobile {
  display: none;
}
@media only screen and (max-width:480px) {
  header {justify-content: center;}
  header .full {display: none;}
  header .logo h2 {display: none;}
  header .mobile {
      display: inline-flex;
  }
  header .mobile img {height: 100%;}
  header .mobile a {
    padding-right: 1rem;
  }
header .mobile a img:hover{
  outline: 1px solid white;
}
}
/*Content1*/
.one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #DDDDDD;
}
.one .image-container {
  width: 60%;
  margin:2rem 1.5rem;
}

.one .image-container img{
  width:100%;
}
.one .learn {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  height: 100%
}
.one .learn h1 {
  font-size: 3.5rem;
}
.one .learn h4 {
  font-size: 1.9rem;
}
.one .learn .button {
  padding: 0.5rem 8rem;
  background-color: hsl(0, 0%, 38%);
  color:hsl(0, 0%, 100%);
}
.one .learn .button:hover {
  font-weight: bold;
}


@media only screen and (max-width:480px) {
  .one {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 2rem;
  }
  .one .image-container {
    width: 100%;
    margin:0;
  }
  .one .learn {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .one .learn h1 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .one .learn h4 {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .one .learn .button {
    padding: 0.5rem 5rem;
    margin:1.5rem 1rem 2rem 1rem;
}
}
/*Content2*/
.two {
  display: flex;
  justify-content: space-between;

}
.two .image-container {
  width: 60%;
  margin:2rem 1.5rem;
}
.two .image-container img{
  width:95%;
}
.two .side {
  width: 40%;
  margin:2rem 1.5rem;
}
.two .side .info,.campus,.guest {
  display:inline-flex;
  height:12rem;
  align-items: center;
  border: 1px solid black;
}
.two .side .info a{
  color:black;
}
.two .side .info a:hover{
  text-decoration: underline;
}
.two .side .campus a{
  color:black;
}
.two .side .campus a:hover{
  text-decoration: underline;
}
.two .side .guest {
background-color: hsl(222, 48%, 48%);
color:white;
}
.two .side .guest a {
  color:white;
}
.two .side .guest a:hover {
  text-decoration: underline;
}
.two .side .guest a:active {
  color:black;
  background-color: white;
}


.two .side img {
  width: 35%;
  height: auto;
  margin: 1rem;
}
.two .side p{
  padding-left: 0;
}
.two .small {display: none;}
@media only screen and (max-width:480px){
  .two .image-container{
    display: none;
  }
  .two .side {
    display: none;
  }
  .two .small {
    display: inline-flex;
    flex-direction: column;
    width:100%;
  }
  .two .small img{
    max-height: 9.375rem;}

  .two .small .info,.campus,.guest {
    display:inline-flex;
    flex-direction: column;
    height: 14rem;
    padding: 1rem 1rem 4rem 1rem;
    align-items: flex-start;
  }
    .two .small .guest{
      margin-bottom: 2rem;
    }
  .two .small img {
    width: 100%;
}
  .two .small p{
  padding-left: 0;}
}
/*Content3*/
.three {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #DDDDDD
}
.three .top h1{
  font-weight: bolder;}
.three .courses {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 2rem 4.5rem;
}
.three .courses div {
  width: 30%;
  height: auto;
  padding-bottom: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: hsl(245, 0%, 62%);


}

.three .courses div img{
  width: 100%;
  margin-bottom: 1rem;
}
.three .courses div h3 {
  padding:0.5rem 0;
}
.three .courses div h3 a {
  font-weight: bold;
  color: hsl(0, 0%, 0%);
}
.three .courses div h3 a:hover {
  text-decoration: underline;
}
.three .courses div h3,h5,h6 {
  padding-left: 1.5rem;
  font-weight: lighter;
}
.three .courses h3 {
  font-size: 1.75rem;
}
.three .courses h5 {
  font-size: 1.25rem;
}
.three .courses h6{
  font-size: 1rem;
}


@media only screen and (max-width:480px) {
.three .courses div img{
  display: none;
}
.three .courses div h5{
  display: none;
}
.three .courses div h6{
  display: none;
}
.three .courses {
  flex-direction: column;
  margin: 1rem 2rem 2rem 2rem;
  padding: 1rem 0rem;
  width: 100%;
}
  .three .courses div {
    display: inline-flex;
    justify-content: flex-start;
    width: 90%;
    height: 2rem;
    padding-bottom: 1rem;
    background-color: hsl(0, 0%, 100%);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .three .courses .software h3{
    font-size: 1.25;
  }

.three .courses div h3 {
padding: 1rem 0 1.5rem 1rem;
margin: 0;
}
}

/*Content4*/
.four{
  display: flex;

}
.four .thetop {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width:60%;
}
.four .thetop h1 {
  margin: 2rem 0;
}
.four .thetop .thevideo {
  margin: 0 1.5rem 1.5rem 1.5rem;
}
.four .theside {
width: 40%;
margin-top: 6.5rem;
}
.four .theside .fisma{
  background-color:hsl(222, 48%, 48%);
}
.four .theside .fisma a{
  color:hsl(0,0%,100%);
}
.four .theside .fisma a:hover{
  color:hsl(0,0%,0%);
}
.four .theside .fisma,.thent{
  display: inline-flex;
  width: 100%;
  height: 9rem;
  border: 1px solid black;
}
.four .theside .fisma img {
  width: 35%;
  height: auto;
  margin: 1rem;
}
.four .theside .fisma div {
  width: 65%;
}
.four .theside .fisma  div p{
  padding-left: 0;
  color: hsl(0,0%,100%);
}
.four .theside .thent a{
  color:hsl(0,0%,0%);
}
.four .theside .thent a:hover{
  color:hsl(245,0%,62%);
}
.four .theside .thent img {
  width: 35%;
  height: auto;
  margin: 1rem;
}
.four .theside .thent div {
  width: 65%;
}
.four .theside .thent div p{
  padding-left: 0;
}
@media only screen and (max-width:480px){
 .four .theside {display: none;}
 .four .thetop h3{
   display: none;
 }
 .four .thetop p{
   display: none;
 }
 .four .thetop{
   width: 100%;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
 }
 .four .thetop h1{
   margin-bottom: 1rem;
 }
 .four .thetop .thevideo {width: 100%;}
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: 0.725rem;
  background-color: hsl(222, 48%, 48%);
}
footer nav a:hover{
  text-decoration: underline;

}

@media only screen and (max-width:480px) {
  footer nav {
    display: none;
  }
}
